apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "client_id": "y0ur-cl1ent-1d",
      "client_secret": "y0ur-cl1ent-secr3t",
      "tenant_id": "y0ur-t3nat-1d"
    }
