apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: upbound-system
type: Opaque
stringData:
  credentials: |
    {
      "clientId": "y0ur-cl1ent-1d",
      "clientSecret": "y0ur-cl1ent-secr3t",
      "tenantId": "y0ur-t3nat-1d"
    }
