# SPDX-FileCopyrightText: 2024 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: upbound-system
type: Opaque
stringData:
  credentials: |
    {
      "clientId": "y0ur-cl1ent-1d",
      "clientSecret": "y0ur-cl1ent-secr3t",
      "tenantId": "y0ur-t3nat-1d"
    }
